
// header
.header {
  background-color: #eaebed;
  padding: 13px 0 9px 0;
  position: relative;
  text-align: center;

  h1 {
    color: #418fcd;

    img {
      display: inline-block;
      width: 200px;
    }
  }
}
