
// header
.header {
  background-color: #666;
  padding: 13px 0 9px 0;
  position: relative;
  text-align: center;
  
  #getModalVete {
    color: #2e2e2e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    
    &:hover {
      color: #F09F2E;
      outline: none;
      text-decoration: none;
    }
  }

  h1 {
    color: #fff;

    img {
      display: inline-block;
      width: 200px;
    }
  }


}
