@import 'common';
@import 'variables';
@import 'reset';

@import 'header';
@import 'steps';
@import 'contactForm';
@import 'doggi';
@import 'footer';

@import 'filter';

@import 'pichicart';

@import url('https://fonts.googleapis.com/css?family=Mogra&subset=latin-ext');

.title-container {
  color: black;
  text-align: center;
}

.enter-addr {
 margin-bottom: 15%;
}

.content-list {
  width: 100%;
  padding: 10px;
  float: left;
  text-align: center;
  .list-item-event {
    text-align: left;
  }
  .list-item-event .title,
  .list-item-event .description {
    color: $soft-blue;
  }
  h4,
  p,
  button {
    display: inline-block;
  }
}

.pichi-button {
  width: auto;
  min-width: 70px;
  height: 50px;
  // margin-top: -5px;
  // float: right;
  margin-left: auto;
  background-color: transparent;
  border: .5px solid $soft-blue;
  border-radius: 5px;
  text-transform: uppercase;
  color: $soft-blue;
}

.pichi-button.red {
  border: 0;
  background-color: $red;
  color: white;
}

main.content {

  margin: 0;
  padding: 0;
  .title-container {
    h1 {
      font-family: MuseoSans500, Verdana, Geneva, sans-serif;
      color: #343e44;
    }
  }
  header.content-show {
    width: 60%;
    display: inline-block;
    height: calc(100vh - 42px);

    background: url('../images/image5.jpg') no-repeat center;
    background-size: 60vmax;

    background-position: bottom;

    top: 0;

    margin: 0;
    padding: 0;

    .header-container {
      text-align: center;
      background: rgba(0, 0, 0, .6);
      height: 100%;
      .row {margin:0;}
      .title-container {
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
        padding: 65px 0 30px;

        h1,
        h2 {
          color: rgba(255, 255, 255, .3);
        }
        .pichi-logo, h1 {
          float: left;
        }
        .pichi-logo {
          width: 20%;
          margin-right: 5%;
          /*
          max-width: 400px;
          margin: 0 auto;
          */
          svg {
            path {
              fill: rgba(255, 255, 255, .2);
            }
          }
        }
        h1 {
          // width: 60%;
          padding-top: 6%;
          font-family: 'Mogra', cursive;
          margin: 0;
          font-size: 4em;
          @media screen and (max-width: 730px){
            font-size: 250%;
          }
          @media screen and (max-width: 410px){
            font-size: 195%;
          }
        }
      }
      
      #searchForm {
        .form-group {
          margin: 0;

          #addrHome {
            &:focus {
              outline: none!important;
              border:2px solid rgba(255,255,255,.5);
              box-shadow: none;
            }
            max-width: 585px;
            border:2px solid rgba(255,255,255,.5);
            font-size:1.75em;
            padding:.25em .5em .3125em;
            color:rgba(255,255,255,.5);
            border-radius:.25em;
            background:transparent;
          }
          
          .input-group {
            width: 98%;
            max-width: 585px;
            margin: 0 auto;
            text-align: center;
            .addrHome {
              height: 70px;
            }
          }
        }
      }
    }

  }

  .content-show {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    .products-list{
      width: 60%;
      display: inline-block;
      @media screen and (max-width: 900px) {
        width: 100%;
      }
    }
    @media screen and (max-width: 900px) {
      display: block;
    }
  }

}

.content-banner-title {
  margin: 0;
  color: #000;
  font-family: MuseoSans500, Verdana, Geneva, sans-serif;
  font-size: 24px;
  left: 15px;
  bottom: 15px;
  z-index: 1;
}

.content-list {

  .list-item {
    border-bottom: 1px solid #c4cccf;
    color: #232d38;
    display: block;
    font-size: 16px;
    padding: 30px 15px;
    position: relative;
    text-decoration: none;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 15px;
      border-color: transparent transparent transparent #438ecd;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }

  .list-item-event {
    border-bottom: 1px solid #c4cccf;
    color: #232d38;
    display: flex;
    align-items: center;
    padding: 10px 0;
    text-decoration: none;
    img, .title, .pichi-button {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
    }
    .title {
      width: 42%;
      margin-left: 10px;
    }
  }
}

.footer__social-icons {
  border-top: 1px solid #9ea1a7;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}